@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,300);
html {
  font-family: sans-serif; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none; }

[hidden], template {
  display: none; }

a {
  background: transparent; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

dfn {
  font-style: italic; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled] {
  cursor: default; }

button {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0; }
  input[type="search"] {
    box-sizing: content-box; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

* {
  box-sizing: border-box; }

iframe {
  width: 100%;
  border: 0;
  padding: 15px;
  margin-bottom: 25px; }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

* {
  font-family: 'museo-sans', 'Lato', 'helvetica neue', sans-serif;
  color: #333; }

table {
  border-collapse: collapse;
  background: white;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid lightgray;
  width: 100%;
  margin-bottom: 25px; }
  table pre {
    margin: 0; }
  table thead {
    background: lightgray;
    color: black;
    text-align: left;
    vertical-align: bottom;
    border-bottom: 1px solid transparent; }
    table thead th {
      font-weight: bold;
      text-align: left;
      border-color: lightgray;
      border-bottom-width: 0px; }
  table th, table td {
    background-color: transparent;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 4.16667px 6.25px;
    line-height: normal;
    border-left: 1px solid lightgray; }
    table th:first-child, table td:first-child {
      border-left-width: 0; }

.wrapper {
  margin: 0px auto;
  max-width: 768px;
  padding-left: 25px;
  padding-right: 25px; }
  @media screen and (min-width: 960px) {
    .wrapper {
      max-width: 1024px; } }
  @media screen and (min-width: 1800px) {
    .wrapper {
      max-width: 1200px; } }

.contacts {
  display: inline-flex;
  width: calc(100% + 15px);
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px; }

[data-component="groups"] {
  width: calc(100% - 15px);
  clear: none;
  display: block;
  margin-left: 7.5px;
  margin-right: 7.5px; }
  @media screen and (min-width: 768px) {
    [data-component="groups"] {
      width: calc(50% - 15px); } }
  @media screen and (min-width: 1024px) {
    [data-component="groups"] {
      width: calc(33.33333% - 15px); } }
  [data-component="groups"] tbody tr {
    cursor: pointer; }
    [data-component="groups"] tbody tr:hover {
      background: aliceblue; }

[data-component="people"] {
  width: calc(100% - 15px);
  clear: none;
  display: block;
  margin-left: 7.5px;
  margin-right: 7.5px; }
  @media screen and (min-width: 768px) {
    [data-component="people"] {
      width: calc(50% - 15px); } }
  @media screen and (min-width: 1024px) {
    [data-component="people"] {
      width: calc(66.66667% - 15px); } }

/*# sourceMappingURL=style.css.map */